<header class="masthead mb-auto">
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link" href="/index.html"><i class="fas fa-home"></i> Home</a>
    <a class="nav-link" href="/about/about.html"><i class="fas fa-info-circle"></i> About</a>
    <a class="nav-link" id="chat-link" href="/chat/chat.html" style="display: none;"><i class="fas fa-comments"></i> Chat</a>
    <a class="nav-link" id="login-link" href="/login/login.html"><i class="fas fa-sign-in-alt"></i> Login</a>
    <a class="nav-link" id="register-link" href="/register/register.html"><i class="fas fa-user-plus"></i> Register</a>
    <a class="nav-link" id="logout-link" href="/logout/logout.html" style="display: none;"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </nav>
</header>
<script src="/components/header.js"></script>